/* .centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
} */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    font-family: "Source Sans Pro", "Helvetica", "sans-serif";
    font-size: 18px;
    background-color: #935D8C;
    background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-repeat: no-repeat;
    /* height: 100vh; sempre bom lembrar */
    background-attachment: fixed;
    line-height: 1.65;
}

.wrapper {
    width: 95%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-weight: 300;
}

.alt {
    text-align: center;
    padding: 96px 64px 48px;
}

.alt h1 {
    font-size: 60px;
    color: white;
    margin: 0 0 13px;
}

#header p {
    font-size: 23px;
    letter-spacing: -0.4px;
    color: #FFFFFFA6;
}

.main_link {
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px;
}

.main_link:hover {
    border: 0;
    color: white;
}

.link {
    color: inherit;
    text-decoration: none;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #636363;
    position: absolute;
    width: 64em;
    /* width 100%?
    como alinhar essa nav do tamanho que ta o site original?
     */
    max-width: calc(100% - 4em);
    padding: 18px;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
    /* text-align: center; */
}

li {
    display: inline-block;
}

ul {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}

/* ver como reduzir esses navs, uls e lis */





























/*

body {
    font-family: "Source Sans Pro", "Helvetica", "sans-serif";
    font-size: 18px;
    background-color: #935D8C;
}

.active {
    background-color: #FFFFFF;
    color: #636363;
}

#nav ul li {
    margin: 0 auto;
    padding: 0;
    display: inline;
}

#nav ul li a {
    color: #636363;
    padding: 20px;
    display: inline;
}

h1 {
    color: #FFFFFF;
    font: 60px "Source Sans Pro";
    margin: 0px 0px 15px
}

h2 {
    color: #636363;
    font: 37.3333px "Source Sans Pro";
    margin: 0px 0px 26.1333px;
}

p {
    color: black;
    font: 23px "Source Sans Pro";
    margin: 0px 0px px
}

div.p {
    color: #636363;
    font: 18.6667px "Source Sans Pro";
    margin: 0px 0px 37.3333px;
}

ul {
    width:100%;         
    height:100%;       
    list-style-type: none;
    font: 18.6667px "Source Sans Pro";
}

p > a {
    text-decoration: none;
    font: 18px "Source Sans Pro";
    color: black;
}

li > a {
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

li {
    margin-left: 39%;
    margin-right: 40%;
    text-align: center;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button {
    padding: 0px 28px;
}

header.alt {
    background-color: #935D8C;
    margin-right: -10%;
    margin-left: -10%;
    margin-top: -13%;
    font: 18.6667px "Source Sans Pro";
    padding: 130.667px 93.3333px 74.6667px;
    text-align: center;
}

#nav {
    color: black;
    background-color: #F7F7F7;
    font: 18.6667px "Source Sans Pro";
    padding: 18.6667px;
}

.actions {
    margin: 0px 0px 37px - 18px;
}

.copyright {
    color: #FFFFFFA6;
    font: 14.9333px "Source Sans Pro";
    margin: 37.3333px 0px 29.8667px;
}

.wrapper {
    background-color: #FFFFFF;
    margin-right: 10%;
    margin-left:10%;
    color: black;
    font: 18px "Source Sans Pro";
    padding: 130px 93px 74px;
    text-align: center;
}

#intro.main {
    color: #636363;
    font: 18.6667px "Source Sans Pro";
    padding: 93.3333px 93.3333px 56px
}

.spotlight {
    color: #636363;
    font: 18.6667px "Source Sans Pro";
    margin: 0px 0px 37.3333px;
}

.content {
    color: #636363;
    font: 18.6667px "Source Sans Pro";
}

#footer {
    color: #FFFFFFA6;
    font: 18.6667px "Source Sans Pro";
    padding: 93.3333px 93.3333px 56px;
    background-color: #935D8C;
    margin-bottom: -8%;
    margin-left: -10%;
    margin-right: -20%;
} */

