html {
    box-sizing: border-box;
}

body {
    background-image: url(images/overlay.png), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100%;
}

.wrapper {
    background-color: #FFFFFF;
    margin-right: 10%;
    margin-left:10%;
    color: black;
    font: 18px "Source Sans Pro";
    padding: 130px 93px 74px;
    text-align: center;
}

#header.alt {
    padding: 158px 113px 90px;
}

.alt {
    padding: 96px 64px 48px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 11px 0;
}

h1 {
    margin: 0 0 18px;
}

h2 {
    margin: 0px 0px 26px;
}

p {
    margin: 0 0 56.6px 0;
}

.main_link {
    border-bottom: dotted 1px;
}

.main_link:hover {
    border: 0;
}

a {   
    border-radius: 12px;
}

.main {
    background-color: #F7F7F7;
    margin-left: 10%;
    margin-right: 10%;
    padding: 64px 48px 32px; 
}

#intro.main {
    padding: 113px 113px 68px;
}

header.major h2::after {
display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 0.7em 0 1em 0;
    /* 0.7em auto 1em    */
    border-radius: 2px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

#major2 {
    text-align: center;
}

#first {
    text-align: center;
}

.features {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
}

#icon {
    
}

#nav {
    background-color: #F7F7F7;
    justify-content: space-between;
    width: inherit;
    /* max-width: calc(100% - 64px); */
    padding: 16px;
    cursor: default;
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    margin: 0;
}

#nav ul li a {
    padding: 0 20px;
    display: inline;
    /* float: inherit; */
}

#nav ul li {
    display: inline;
    margin: 0 auto;
    padding: 0;
}

.active {
    background-color: #FFFFFF;
}

.icons {
    display: inline;
}

.actions {
    list-style-type: none;
}

.button {
    text-decoration: none;
    border-radius: 8px;
    border: 0;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 34px;
    background-color: #5f4d93;
    display: inline-block;
    min-width: 6em;
    /* white-space: nowrap; */
}

.spotlight {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 45px;
}

/* VER FLEXBOX NO LUGAR DE GRID
MUITO MENOS TRAMPO

https://www.felipefialho.com/blog/css-grid-e-flexbox-quando-utilizar/
*/

.major_text {
    margin-bottom: 45px;
}

span.image {
    padding: 14px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.spot_img {
    border-radius: 100%;
    background-color:black;
    width: 20em;
    display: block;
}

.mouse:hover {
    background-color: #d4d4d4da;
}

section {
    vertical-align: baseline;
    box-sizing: inherit;
    border: 0;
    margin: 0;
}