@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
 }

html {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    background: linear-gradient(45deg, #d3cce3, #e9e4f0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 100;
    color: #383838;
}

:root {
    height: 100%;
}

header {
    width: inherit;
    z-index: 99;
}

/* .major {

} */

.title {
    background-color: inherit;
    text-align: center;
    margin: .4em 1em 0 1em;
}

.major {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(45deg, #d3cce3, #e9e4f0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav ul li {
    display: inline-block;
    position: sticky;
    z-index: 99;
    top: 0;
    margin: 0 0 4px 0;
    text-align: center;
}

#first {
    margin-top: 1.5em;
}

#second {
    margin-top: 1.5em;
}

ul {
    list-style-type: none;
    padding:  0.5em 1em;
}

.main_link {
    border-radius: 0px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 100%;
    color: inherit;
}


#main_1 {
    padding: 0 .5em 0 0.5em;
    font-size: 1.06em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

/* #main_1:first-child {
    float: left;
    margin-right: 0.4em; 
}

#main_1:nth-child(2) {
    margin: 0 5%;
} */

/* #main_1:nth-child(3) {
    margin: 0 0.4em;
} */

/* #main_1:last-child {
    float: right;
    margin-left: 0.4em; 
} */

.icon {
    display: block;
    text-align: center;
    object-fit: contain;
}

.image {
    width: 150px;
    height: 150px;
    padding: 0.5em;  
    border: 3px solid #383838;
    border-radius: 100%;
    margin-bottom: 1.3em;
}

.image img {
    display: block; 
    border-radius: 100%;   
    width: 10rem;
    border: 1px solid #383838;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 2px;
    margin-top: 3rem;
}

.text {
    text-align: center;
    font-size: 0.95em;
    padding: 0 10%;
}

.text_align {
    text-align: center;
}

.text_link {
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin: 1em 0;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0.4em 0.2em;
    display: block;
    border: 1px solid #383838;
    border-radius: 12px;
}

h2 {
   padding-bottom: 0.4em; 
}

.end {
    margin: 0 1.5rem;
    padding-bottom: 0.5rem;
    margin: 0 12%;
    text-align: center;
}

.media li {
    display: inline-block;
    padding-right: 0.4rem;
}

.social_logo {
    font-size: 30px;
}

.media__button {
    text-decoration: none;
    border: 2px solid #383838;
    border-radius: 100%;
    font-size: 2.5em;
    color: #383838;
}

.media__button::before {
    display: block;
    font-size: 2.2rem;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.place {
    width: 300px;
    height: 230px;
    border-radius: 0.7em;
    margin-bottom: 0.8em;
    border: 1px solid #383838;
}

.callback {
    text-decoration: none;
    color: inherit;
    text-align: left;
    display: block;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 0.8em;
}

.callback_bottom {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2.4em;
}

.places_header {
    margin-top: 0.5em;
}

.itens_table {
    text-decoration: none;
    text-decoration: underline solid;
    margin: 0 0 0.6em 0;
    color: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left_side {
    text-align: left;
}

.prices {
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (min-width: 400px) {

    body {
        font-size: 1.1em;
    }

    .image {
        width: 200px;
        height: 200px;
        padding: 0.5em;  
        border: 3px solid #383838;
        border-radius: 100%;
        margin-bottom: 1.3em;
    }

    .image img {
        display: block; 
        border-radius: 100%;   
        width: 15rem;
        border: 1px solid #383838;
    }

}

@media screen and (min-width: 500px) {

    body {
        font-size: 1.2em;
    }

    .image {
        width: 250px;
        height: 250px;
        padding: 0.5em;  
        border: 3px solid #383838;
        border-radius: 100%;
        margin-bottom: 1.3em;
    }

    .image img {
        display: block; 
        border-radius: 100%;   
        width: 15rem;
        border: 1px solid #383838;
    }

}

@media screen and (min-width: 600px) {



}