.textos {
    font-size: 20px;
}

.nacionais {
    background-color: darkcyan;
    font-weight: bold;
    font-size: 18px;
}

.primeiraLinha {
    background-color: #C4C2C2;
    text-align: center;
    border: 1px solid #ccc7c7;
    font-size: 18px;
}

.legenda {
    background-color: rgba(29, 254, 159);
    font-weight: bold;
    font-size: 25px;
}

.tabelinha {
    border-top: 1px ridge #ccc7c7;
    border-left: 1px ridge #ccc7c7;
    text-align: left;
    padding: 5px 10px 5px 1px;
}

/* .tabelinha2 {
    border-top: 1px ridge #ccc7c7;
    border-left: 1px ridge #ccc7c7;
    padding: 2px 1px 2px 10px;
} */

.tabelinha3 {
    border-bottom: 1px ridge #ccc7c7;
    border-right: 1px ridge #ccc7c7;
}

.tabelinha4 {
    border-top: 1px ridge #ccc7c7;
    border-left: 1px ridge #ccc7c7;
    text-align: right;
    padding: 5px 1px 5px 60px;
}

.tabelinha5 {
    border-top: 1px ridge #ccc7c7;
    border-left: 1px ridge #ccc7c7;
    text-align: center;
    padding: 5px 1px 5px 1px;
}

.cinco {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    background-color: rgb(20, 167, 106);
    /* mudar background depois */
    padding: 5px 20px 5px 20px;
    width: 300px;
    
}

.texto {
    padding: 5px 20px 5px 20px;
    background-color: rgb(186, 199, 207);
    font-size: 18px;
    width: 300px;
    font-weight: 100;
}

.titulos {
    padding: 5px 20px 5px 20px;
    background-color: rgb(152, 183, 202);
    font-weight: bold;
    font-size: 20px;
    width: 300px;
}

.tabela {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	float: none;
}

